<h2 id="title">ember-bootstrap-icons</h2>

<h1>
	h1
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</h1>

<h2>
	h2
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</h2>

<h3>
	h3
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</h3>

<h4>
	h4
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</h4>

<h5>
	h5
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</h5>

<h6>
	h6
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</h6>

<p>
	p
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</p>

<p style="color:red;">
	p
	<BsIcon @name="heart-fill" />
	<BsIcon @name="toggles" />
	<BsIcon @name="shop" />
</p>

{{outlet}}
