<h2 id="title">ember-bootstrap-icons</h2>

<h1>
	h1
	<BsIcon @name="heart-fill" style="color:red;" />
	<BsIcon @name="toggles" style="color:green;" />
	<BsIcon @name="shop" style="color:blue;" />
</h1>

<h2>
	h2
	<BsIcon @name="heart-fill" @size="1.5rem" />
	<BsIcon @name="toggles" @size="1.5rem" />
	<BsIcon @name="shop" @size="1.5rem" />
</h2>

<h3>
	h3
	<BsIcon @name="heart-fill" @size="1.17em" />
	<BsIcon @name="toggles" @size="1.17em" />
	<BsIcon @name="shop" @size="1.17em" />
</h3>

<h4>
	h4
	<BsIcon @name="heart-fill" @size="1rem" />
	<BsIcon @name="toggles" @size="1rem" />
	<BsIcon @name="shop" @size="1rem" />
</h4>

<h5>
	h5
	<BsIcon @name="heart-fill" @size="0.83em" />
	<BsIcon @name="toggles" @size="0.83em" />
	<BsIcon @name="shop" @size="0.83em" />
</h5>

<h6>
	h6
	<BsIcon @name="heart-fill" @size="0.67em" />
	<BsIcon @name="toggles" @size="0.67em" />
	<BsIcon @name="shop" @size="0.67em" />
</h6>

<p>
	p
	<BsIcon @name="heart-fill" @size="1rem" />
	<BsIcon @name="toggles" @size="1rem" />
	<BsIcon @name="shop" @size="1rem" />
</p>

<p style="color:red;">
	p
	<BsIcon @name="heart-fill" @size="1rem" />
	<BsIcon @name="toggles" @size="1rem" />
	<BsIcon @name="shop" @size="1rem" />
</p>

{{outlet}}
